@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  color: #827C8A;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #827C8A;
}
.open-menu body {
  overflow: hidden;
}

::-moz-selection { /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: #EDBA36;
}

::selection {
  color: rgb(255, 255, 255);
  background: #EDBA36;
}

h1 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  max-width: 626px;
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  h1 {
    font-size: 50px;
  }
}
@media (max-width: 1023px) {
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 42px;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 38px;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #28252C;
  line-height: 1.3;
}
@media (max-width: 1199px) {
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1023px) {
  h2 {
    font-size: 28px;
  }
}
@media (max-width: 991px) {
  h2 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #28252C;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  h3 {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  h3 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-size: 18px;
  font-weight: 400;
  color: #28252C;
  margin-bottom: 5px;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  color: #28252C;
  margin-bottom: 15px;
}

.yellow-btn {
  background-color: #EDBA36;
  border: 1px solid #EDBA36;
  border-radius: 8px;
  padding: 14px 30px;
  font-weight: 500;
  font-size: 16px;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}
.open-menu .yellow-btn {
  background-color: #9327ff;
}
.yellow-btn:hover {
  background-color: #9327ff;
  border: 1px solid rgb(255, 255, 255);
}
.open-menu .yellow-btn:hover {
  background-color: #EDBA36;
  border: 1px solid rgb(255, 255, 255);
}
@media (max-width: 575px) {
  .yellow-btn {
    padding: 10px 15px;
  }
}

.purpole-btn {
  border: 1px solid #9327ff;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  color: #9327ff;
  transition: all 0.5s;
  text-transform: uppercase;
  cursor: pointer;
  min-height: 36px;
  min-width: 96px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.purpole-btn:hover {
  background-color: #9327ff;
  color: rgb(255, 255, 255);
}

.select2-container {
  min-width: 230px;
  font-size: 16px;
}
@media (max-width: 850px) {
  .select2-container {
    width: 100% !important;
  }
}
@media (max-width: 575px) {
  .select2-container {
    min-width: 180px;
  }
}
.select2-container.select2-container--default .select2-results__option {
  padding: 10px 14px;
  color: #827C8A;
}
.select2-container.select2-container--default .select2-results__options {
  padding: 8px 0;
}
.select2-container.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: rgb(255, 255, 255);
  color: #827C8A;
}
.select2-container.select2-container--open .select2-dropdown {
  border: none;
  border-radius: unset;
}
.select2-container.select2-container--open .select2-selection__arrow {
  transform: rotate(180deg);
}
.select2-container.select2-container--open .select2-dropdown--below {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .select2-container.select2-container--open .select2-dropdown--below {
    margin-top: 10px;
  }
}
.select2-container.select2-container--open .select2-dropdown--above {
  margin-top: -20px;
}
@media (max-width: 767px) {
  .select2-container.select2-container--open .select2-dropdown--above {
    margin-top: -10px;
  }
}
.select2-container .select2-results__option--highlighted[aria-selected] {
  background-color: #EDBA36;
  color: rgb(255, 255, 255);
}
.select2-container .select2-selection--single {
  height: 22px;
  width: 100%;
  outline: none;
  border-radius: unset;
  border: unset;
}
@media (max-width: 767px) {
  .select2-container .select2-selection--single {
    height: 40px;
  }
}
.select2-container .select2-selection--single .select2-selection__rendered {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 33px 0 30px;
  color: #827C8A;
}
@media (max-width: 767px) {
  .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 55px;
  }
}
.select2-container .select2-selection--single .select2-selection__arrow {
  background-image: url(../images/arrow-down.svg);
  position: absolute;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
  height: 100%;
  width: 20px;
  top: 0;
  right: 5px;
}
@media (max-width: 767px) {
  .select2-container .select2-selection--single .select2-selection__arrow {
    right: 20px;
  }
}
@media (max-width: 479px) {
  .select2-container .select2-selection--single .select2-selection__arrow {
    width: 17px;
    background-size: 17px 17px;
  }
}
.select2-container .select2-selection--single b {
  display: none;
}
.select2-container .select2-selection--single .select2-selection__placeholder {
  color: #A7A1B0;
}

.ui-datepicker.ui-widget.ui-widget-content {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid rgba(130, 124, 138, 0.25);
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
}
.ui-datepicker.ui-widget.ui-widget-content .ui-datepicker-header {
  background: #EDBA36;
}
.ui-datepicker.ui-widget.ui-widget-content .ui-datepicker-header .ui-datepicker-prev span {
  background-image: url(../images/prev.png) !important;
  background-position: 0px 0px !important;
  background-size: cover;
}
.ui-datepicker.ui-widget.ui-widget-content .ui-datepicker-header .ui-datepicker-next span {
  background-image: url(../images/next.png) !important;
  background-position: 0px 0px !important;
  background-size: cover;
}
.ui-datepicker.ui-widget.ui-widget-content .ui-datepicker-title {
  font-size: 16px;
  color: rgb(255, 255, 255);
}
.ui-datepicker.ui-widget.ui-widget-content .ui-datepicker-calendar tr .ui-datepicker th {
  font-size: 16px;
  font-weight: 400;
  color: #28252C;
}
.ui-datepicker.ui-widget.ui-widget-content .ui-datepicker-calendar tr td .ui-state-default {
  border: 1px solid rgba(130, 124, 138, 0.25);
  background: rgb(255, 255, 255) !important;
  font-weight: 400 !important;
  color: #827C8A !important;
  transition: all 0.5s;
}
.ui-datepicker.ui-widget.ui-widget-content .ui-datepicker-calendar tr td .ui-state-default:hover {
  background-color: #EDBA36 !important;
  color: rgb(255, 255, 255) !important;
}
.ui-datepicker.ui-widget.ui-widget-content .ui-datepicker-calendar tr td .ui-state-default.ui-state-active {
  border: 1px solid #EDBA36;
}

.ui-menu.ui-widget.ui-widget-content {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid rgba(130, 124, 138, 0.25);
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  color: #827C8A;
}
.ui-menu.ui-widget.ui-widget-content .ui-menu-item-wrapper {
  padding: 6px 25px;
}

.ui-state-active {
  background-color: #EDBA36 !important;
  color: rgb(255, 255, 255);
  border: 1px solid #EDBA36 !important;
  outline: unset;
}
.ui-state-active:hover {
  background-color: #EDBA36;
  color: rgb(255, 255, 255);
  border: 1px solid #EDBA36;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #A7A1B0;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  opacity: 1 !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #A7A1B0;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #A7A1B0;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  opacity: 1 !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #A7A1B0;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  opacity: 1 !important;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 50px;
}
@media (max-width: 1199px) {
  .container {
    padding: 0 25px;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.site-header {
  padding: 30px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
.sticky_header .site-header {
  background-color: #9327ff;
  padding: 15px 0;
}
.site-header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header .header-wrapper .main-nav {
  min-height: 30px;
}
.site-header .header-wrapper .hamburger-icon {
  display: none;
  cursor: pointer;
  position: relative;
  width: 30px;
}
.site-header .header-wrapper .hamburger-icon img {
  max-width: 30px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
@media (max-width: 1199px) {
  .site-header .header-wrapper .hamburger-icon {
    display: block;
  }
}
.site-header .header-wrapper .hamburger-icon .cross-icon {
  display: none;
  width: 30px;
}
.open-menu .site-header .header-wrapper .hamburger-icon .cross-icon {
  display: block !important;
}
.open-menu .site-header .header-wrapper .hamburger-icon .menu-icon {
  display: none;
}
.site-header .header-wrapper .nav-listing {
  display: flex;
  align-items: center;
}
.open-menu .site-header .header-wrapper .nav-listing {
  transform: translate(0%) !important;
}
@media (max-width: 1199px) {
  .site-header .header-wrapper .nav-listing {
    transform: translate(110%);
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.5s;
    width: 350px;
    background-color: rgba(237, 186, 54, 0.9);
    padding-top: 80px;
    display: block;
    bottom: 0;
  }
}
@media (max-width: 575px) {
  .site-header .header-wrapper .nav-listing {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .site-header .header-wrapper .nav-listing li {
    padding: 10px 20px;
  }
}
.site-header .header-wrapper .nav-listing li a:not(.btn) {
  padding-right: 40px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.5s;
}
@media (max-width: 1199px) {
  .site-header .header-wrapper .nav-listing li a:not(.btn) {
    padding-right: 20px;
  }
}
.site-header .header-wrapper .nav-listing li a:not(.btn):hover {
  color: #EDBA36;
}
.open-menu .site-header .header-wrapper .nav-listing li a:not(.btn):hover {
  color: #9327ff;
}
.site-header .header-wrapper .nav-listing li:last-child {
  padding-left: 25px;
}
@media (max-width: 1199px) {
  .site-header .header-wrapper .nav-listing li:last-child {
    padding-left: 20px;
  }
}

.banner-section {
  position: relative;
  padding: 110px 0 50px;
  min-height: 660px;
}
@media (max-width: 1199px) {
  .banner-section {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .banner-section {
    padding: 40px 0;
  }
}
.banner-section .banner-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.banner-section .banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-section .container {
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  transform: translateY(-55%);
}
.banner-section .container .banner-content {
  max-width: 780px;
}
.banner-section .container .banner-content h1 span {
  display: block;
}
.banner-section .container .banner-content .content-wrapper {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  align-items: center;
  padding: 0 10px;
  min-height: 56px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .banner-section .container .banner-content .content-wrapper {
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 12px;
    background-color: transparent;
  }
}
.banner-section .container .banner-content .content-wrapper .dropdown-wrapper {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  position: relative;
  padding: 0 14px;
}
@media (max-width: 767px) {
  .banner-section .container .banner-content .content-wrapper .dropdown-wrapper {
    padding: 0;
  }
}
.banner-section .container .banner-content .content-wrapper .dropdown-wrapper:last-child .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 35px;
}
@media (max-width: 767px) {
  .banner-section .container .banner-content .content-wrapper .dropdown-wrapper:last-child .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 55px;
  }
}
.banner-section .container .banner-content .content-wrapper .dropdown-wrapper .dropdown-wrapper {
  padding: 0;
}
@media (max-width: 767px) {
  .banner-section .container .banner-content .content-wrapper .dropdown-wrapper .dropdown-wrapper {
    border: none;
  }
}
@media (max-width: 767px) {
  .banner-section .container .banner-content .content-wrapper .dropdown-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.banner-section .container .banner-content .content-wrapper .dropdown-wrapper:not(:last-child) {
  border-right: 2px solid rgba(130, 124, 138, 0.25);
}
@media (max-width: 767px) {
  .banner-section .container .banner-content .content-wrapper .dropdown-wrapper:not(:last-child) {
    margin-bottom: 10px;
    border: none;
  }
}
.banner-section .container .banner-content .content-wrapper label {
  position: absolute;
  top: 1px;
  z-index: 2;
}
@media (max-width: 767px) {
  .banner-section .container .banner-content .content-wrapper label {
    top: 9px;
    left: 17px;
  }
}
.banner-section .container .banner-content .content-wrapper .inner-wrapper {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 14px;
  position: relative;
}
@media (max-width: 767px) {
  .banner-section .container .banner-content .content-wrapper .inner-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }
}
.banner-section .container .banner-content .content-wrapper .inner-wrapper:last-child input {
  padding-left: 30px;
}
@media (max-width: 767px) {
  .banner-section .container .banner-content .content-wrapper .inner-wrapper:last-child input {
    padding-left: 55px;
  }
}
.banner-section .container .banner-content .content-wrapper .inner-wrapper input {
  width: 100%;
  height: 22px;
  border: none;
  padding: 0 22px;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: #827C8A;
  text-overflow: ellipsis;
}
@media (max-width: 767px) {
  .banner-section .container .banner-content .content-wrapper .inner-wrapper input {
    height: 40px;
    padding-left: 55px;
  }
}
.banner-section .container .banner-content .content-wrapper .inner-wrapper input:focus-visible {
  outline: none;
}
.banner-section .container .banner-content .content-wrapper .inner-wrapper:not(:last-child) {
  border-right: 2px solid rgba(130, 124, 138, 0.25);
  border-radius: 2px;
}
@media (max-width: 767px) {
  .banner-section .container .banner-content .content-wrapper .inner-wrapper:not(:last-child) {
    border: none;
    margin-bottom: 10px;
  }
}
.banner-section .container .banner-content .content-wrapper .image-block {
  position: absolute;
  right: 16px;
  top: 1px;
}
@media (max-width: 767px) {
  .banner-section .container .banner-content .content-wrapper .image-block {
    right: 20px;
    top: 10px;
  }
}
.banner-section button {
  font-family: "Rubik", sans-serif;
  min-height: 56px;
}

.easy-steps-section {
  padding: 80px 0;
}
@media (max-width: 1199px) {
  .easy-steps-section {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .easy-steps-section {
    padding: 40px 0;
  }
}
.easy-steps-section .easy-step-wrapper {
  display: flex;
  margin: 0 -20px;
}
@media (max-width: 1199px) {
  .easy-steps-section .easy-step-wrapper {
    margin: 0 -13px;
  }
}
@media (max-width: 991px) {
  .easy-steps-section .easy-step-wrapper {
    flex-wrap: wrap;
    margin-bottom: -15px;
  }
}
@media (max-width: 479px) {
  .easy-steps-section .easy-step-wrapper {
    margin: 0 0 -15px;
  }
}
.easy-steps-section .easy-step-wrapper .inner-wrapper {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 20px;
  text-align: center;
}
@media (max-width: 1199px) {
  .easy-steps-section .easy-step-wrapper .inner-wrapper {
    padding: 0 13px;
  }
}
@media (max-width: 991px) {
  .easy-steps-section .easy-step-wrapper .inner-wrapper {
    flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 15px;
  }
}
@media (max-width: 479px) {
  .easy-steps-section .easy-step-wrapper .inner-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 0 15px;
  }
}
.easy-steps-section .easy-step-wrapper .inner-wrapper .image-block {
  margin-bottom: 28px;
  min-height: 60px;
  min-width: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1199px) {
  .easy-steps-section .easy-step-wrapper .inner-wrapper .image-block {
    margin-bottom: 5px;
  }
}
.easy-steps-section .easy-step-wrapper .inner-wrapper p {
  font-size: 16px;
  max-width: 220px;
  margin: 0 auto;
  line-height: 1.5;
}
.easy-steps-section .easy-step-wrapper .inner-wrapper span {
  display: block;
}

.meet-our-doctors-section {
  padding: 80px 0;
  background-color: #FFF5FB;
}
@media (max-width: 1199px) {
  .meet-our-doctors-section {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .meet-our-doctors-section {
    padding: 40px 0;
  }
}
.meet-our-doctors-section .heading {
  margin-bottom: 38px;
}
@media (max-width: 1199px) {
  .meet-our-doctors-section .heading {
    margin-bottom: 20px;
  }
}
.meet-our-doctors-section .heading h2 {
  margin: 0;
  padding-right: 20px;
}
@media (max-width: 479px) {
  .meet-our-doctors-section .heading h2 {
    margin-bottom: 10px;
  }
}
.meet-our-doctors-section .heading .yellow-btn {
  font-weight: 400;
}
.meet-our-doctors-section .doctors-content {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .meet-our-doctors-section .doctors-content {
    margin-bottom: -25px;
  }
}
.meet-our-doctors-section .doctors-content .doctors-outer-content {
  padding: 0 30px;
  flex: 0 0 25%;
  max-width: 25%;
  height: 100%;
}
@media (max-width: 1199px) {
  .meet-our-doctors-section .doctors-content .doctors-outer-content {
    padding: 0 13px;
  }
}
@media (max-width: 991px) {
  .meet-our-doctors-section .doctors-content .doctors-outer-content {
    flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 25px;
  }
}
@media (max-width: 479px) {
  .meet-our-doctors-section .doctors-content .doctors-outer-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 0 25px;
  }
}
.meet-our-doctors-section .doctors-content .doctors-outer-content:last-child {
  padding-right: 0;
}
.meet-our-doctors-section .doctors-content .doctors-outer-content:first-child {
  padding-left: 0;
}
.meet-our-doctors-section .doctors-content .doctors-outer-content .doctors-inner-content {
  background-color: rgb(255, 255, 255);
  padding: 30px 30px 10px 30px;
  border: 1px solid rgba(40, 37, 44, 0.08);
  border-radius: 8px;
  position: relative;
  height: 100%;
  cursor: pointer;
}
@media (max-width: 1199px) {
  .meet-our-doctors-section .doctors-content .doctors-outer-content .doctors-inner-content {
    padding: 15px;
  }
}
.meet-our-doctors-section .doctors-content .doctors-outer-content .doctors-inner-content:hover {
  box-shadow: 0 10px 24px 0px rgba(255, 0, 138, 0.12);
  transition: all 0.5s;
}
.meet-our-doctors-section .doctors-content .doctors-outer-content .doctors-inner-content .image-block {
  margin-bottom: 15px;
  border-radius: 5px;
  max-width: 120px;
  overflow: hidden;
}
.meet-our-doctors-section .doctors-content .doctors-outer-content .doctors-inner-content .image-block img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.meet-our-doctors-section .doctors-content .doctors-outer-content .doctors-inner-content span {
  color: #9327ff;
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
}
.meet-our-doctors-section .doctors-content .doctors-outer-content .doctors-inner-content p {
  font-size: 14px;
  line-height: 1.4;
}
.meet-our-doctors-section .doctors-content .doctors-outer-content .doctors-inner-content em {
  position: absolute;
  top: 31px;
  right: 0;
  background-color: #00D193;
  padding: 6px 8px;
  border-radius: 3px 0 0 3px;
  font-style: normal;
}
.meet-our-doctors-section .doctors-content .doctors-outer-content .doctors-inner-content em img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.meet-our-doctors-section .doctors-content .doctors-outer-content .doctors-inner-content em span {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 14px;
  vertical-align: middle;
}

.top-searched-specialties-section {
  padding: 80px 0;
}
@media (max-width: 1199px) {
  .top-searched-specialties-section {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .top-searched-specialties-section {
    padding: 40px 0;
  }
}
.top-searched-specialties-section .specialties-wrapper {
  display: flex;
  margin: 0 -15px;
}
@media (max-width: 1199px) {
  .top-searched-specialties-section .specialties-wrapper {
    margin: 0 -13px;
  }
}
@media (max-width: 991px) {
  .top-searched-specialties-section .specialties-wrapper {
    margin: 0 -13px -25px;
    flex-wrap: wrap;
  }
}
@media (max-width: 479px) {
  .top-searched-specialties-section .specialties-wrapper {
    margin: 0 0 -25px;
  }
}
.top-searched-specialties-section .specialties-wrapper .specialties-outer-wrapper {
  flex: 0 0 16.66%;
  max-width: 16.66%;
  padding: 0 15px;
}
@media (max-width: 1199px) {
  .top-searched-specialties-section .specialties-wrapper .specialties-outer-wrapper {
    padding: 0 13px;
  }
}
@media (max-width: 991px) {
  .top-searched-specialties-section .specialties-wrapper .specialties-outer-wrapper {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-bottom: 25px;
  }
}
@media (max-width: 575px) {
  .top-searched-specialties-section .specialties-wrapper .specialties-outer-wrapper {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 479px) {
  .top-searched-specialties-section .specialties-wrapper .specialties-outer-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 0 25px;
  }
}
.top-searched-specialties-section .specialties-wrapper .specialties-outer-wrapper .specialties-inner-wrapper {
  border: 1px solid rgb(238, 238, 238);
  padding: 20px 13px;
  text-align: center;
  height: 100%;
}
@media (max-width: 1199px) {
  .top-searched-specialties-section .specialties-wrapper .specialties-outer-wrapper .specialties-inner-wrapper {
    padding: 15px;
  }
}
.top-searched-specialties-section .specialties-wrapper .specialties-outer-wrapper .specialties-inner-wrapper .image-block {
  margin-bottom: 20px;
}
.top-searched-specialties-section .specialties-wrapper .specialties-outer-wrapper .specialties-inner-wrapper span {
  color: #28252C;
  font-size: 18px;
  font-weight: 500;
}

.change-your-life-section .change-your-life-wrapper {
  background: url(../images/background-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border-radius: 8px;
}
.change-your-life-section .change-your-life-wrapper .heading {
  padding: 80px 40px;
  max-width: 1060px;
  margin: 0 auto;
}
.change-your-life-section .change-your-life-wrapper .heading h2 {
  font-size: 48px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  padding-right: 20px;
  margin: 0;
}
@media (max-width: 1199px) {
  .change-your-life-section .change-your-life-wrapper .heading h2 {
    font-size: 44px;
  }
}
@media (max-width: 1023px) {
  .change-your-life-section .change-your-life-wrapper .heading h2 {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .change-your-life-section .change-your-life-wrapper .heading h2 {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .change-your-life-section .change-your-life-wrapper .heading h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .change-your-life-section .change-your-life-wrapper .heading h2 {
    font-size: 30px;
  }
}
@media (max-width: 374px) {
  .change-your-life-section .change-your-life-wrapper .heading h2 {
    font-size: 28px;
  }
}
@media (max-width: 1199px) {
  .change-your-life-section .change-your-life-wrapper .heading {
    padding: 60px 20px;
  }
}
@media (max-width: 767px) {
  .change-your-life-section .change-your-life-wrapper .heading {
    padding: 40px 20px;
  }
}
.change-your-life-section .change-your-life-wrapper .heading span {
  display: block;
}
.change-your-life-section .change-your-life-wrapper .heading .yellow-btn {
  padding: 17px 40px;
  min-height: 56px;
}
@media (max-width: 767px) {
  .change-your-life-section .change-your-life-wrapper .heading .yellow-btn {
    padding: 10px 20px;
  }
}
@media (max-width: 991px) {
  .change-your-life-section .change-your-life-wrapper .heading .yellow-btn {
    min-height: 48px;
  }
}
.change-your-life-section .change-your-life-wrapper .heading span {
  margin-right: 6px;
}

.video-content-section {
  padding: 80px 0;
}
@media (max-width: 1199px) {
  .video-content-section {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .video-content-section {
    padding: 40px 0;
  }
}
.video-content-section .heading {
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  .video-content-section .heading {
    margin-bottom: 20px;
  }
}
.video-content-section .heading h2 {
  margin: 0;
  padding-right: 20px;
}
@media (max-width: 374px) {
  .video-content-section .heading h2 {
    margin-bottom: 10px;
  }
}
.video-content-section .heading .yellow-btn {
  min-width: 198px;
  min-height: 48px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .video-content-section .heading .yellow-btn {
    min-height: 40px;
  }
}
.video-content-section .video-content-wrapper {
  border: 1px solid rgba(40, 37, 44, 0.08);
  padding: 23px 20px 20px;
  border-radius: 8px;
}
@media (max-width: 1199px) {
  .video-content-section .video-content-wrapper {
    padding: 15px;
  }
}
.video-content-section .video-content-wrapper .video-content-outer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 22px;
}
@media (max-width: 1199px) {
  .video-content-section .video-content-wrapper .video-content-outer-wrapper {
    margin-bottom: 20px;
  }
}
.video-content-section .video-content-wrapper .video-content-outer-wrapper .left-side {
  display: flex;
  padding-right: 20px;
}
@media (max-width: 479px) {
  .video-content-section .video-content-wrapper .video-content-outer-wrapper .left-side {
    margin-bottom: 15px;
  }
}
.video-content-section .video-content-wrapper .video-content-outer-wrapper .left-side .image-block {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  object-fit: cover;
  margin-right: 10px;
}
.video-content-section .video-content-wrapper .video-content-outer-wrapper .left-side .image-block img {
  width: 100%;
  height: 100%;
}
.video-content-section .video-content-wrapper .video-content-outer-wrapper .left-side .name-active-status span {
  font-size: 16px;
  font-weight: 500;
  color: #28252C;
}
.video-content-section .video-content-wrapper .video-content-outer-wrapper .left-side .name-active-status p {
  font-size: 11px;
  color: #7C8894;
  line-height: 1.4;
}
.video-content-section .video-content-wrapper .video-content-inner-wrapper h5 {
  font-size: 20px;
}
@media (max-width: 767px) {
  .video-content-section .video-content-wrapper .video-content-inner-wrapper h5 {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .video-content-section .video-content-wrapper .video-content-inner-wrapper h5 {
    font-size: 16px;
    margin-bottom: 6px;
  }
}
.video-content-section .video-content-wrapper .video-content-inner-wrapper .video-content {
  position: relative;
  padding-bottom: 43.5%;
  overflow: hidden;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .video-content-section .video-content-wrapper .video-content-inner-wrapper .video-content {
    margin-bottom: 10px;
  }
}
.video-content-section .video-content-wrapper .video-content-inner-wrapper .video-content .poster-image {
  position: absolute;
  top: 0;
  left: 0;
}
.video-content-section .video-content-wrapper .video-content-inner-wrapper .video-content span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
@media (max-width: 1199px) {
  .video-content-section .video-content-wrapper .video-content-inner-wrapper .video-content span img {
    width: 100px;
  }
}
@media (max-width: 767px) {
  .video-content-section .video-content-wrapper .video-content-inner-wrapper .video-content span img {
    width: 80px;
  }
}
@media (max-width: 575px) {
  .video-content-section .video-content-wrapper .video-content-inner-wrapper .video-content span img {
    width: 60px;
  }
}
.video-content-section .video-content-wrapper .video-content-inner-wrapper p {
  color: #28252C;
  max-width: 1012px;
  line-height: 1.6;
  height: 65px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.video-content-section .video-content-wrapper .video-content-inner-wrapper p.show-content {
  height: auto;
  display: inline-block;
}
.video-content-section .video-content-wrapper .video-content-inner-wrapper .moreless-btn {
  display: block;
  margin-top: 10px;
  color: #EDBA36;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
}
.video-content-section .video-content-wrapper .video-content-inner-wrapper .moreless-btn:hover {
  color: #9327ff;
}

.site-footer {
  background-image: url(../images/background-Footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.site-footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 1199px) {
  .site-footer .footer-wrapper {
    padding: 60px 0;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .site-footer .footer-wrapper {
    padding: 40px 0;
  }
}
@media (max-width: 1199px) {
  .site-footer .footer-wrapper .logo-wrapper {
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) {
  .site-footer .footer-wrapper .logo-wrapper {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 0;
  }
}
@media (max-width: 991px) {
  .site-footer .footer-wrapper .nav-listing-outer {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 18px;
  }
}
.site-footer .footer-wrapper .nav-listing-outer .nav-listing {
  display: flex;
  margin: 0 -17px;
}
@media (max-width: 1280px) {
  .site-footer .footer-wrapper .nav-listing-outer .nav-listing {
    margin: 0 -10px;
  }
}
@media (max-width: 991px) {
  .site-footer .footer-wrapper .nav-listing-outer .nav-listing {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .site-footer .footer-wrapper .nav-listing-outer .nav-listing {
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: -10px;
  }
}
.site-footer .footer-wrapper .nav-listing-outer .nav-listing li {
  padding: 0 17px;
}
@media (max-width: 1280px) {
  .site-footer .footer-wrapper .nav-listing-outer .nav-listing li {
    padding: 0 10px;
  }
}
@media (max-width: 575px) {
  .site-footer .footer-wrapper .nav-listing-outer .nav-listing li {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 10px;
  }
}
.site-footer .footer-wrapper .nav-listing-outer .nav-listing li a {
  color: rgb(255, 255, 255);
  transition: all 0.5s;
}
.site-footer .footer-wrapper .nav-listing-outer .nav-listing li a:hover {
  color: #EDBA36;
}
@media (max-width: 1199px) {
  .site-footer .footer-wrapper .social-media-outer {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.site-footer .footer-wrapper .social-media {
  display: flex;
  margin: 0 -10px;
}
@media (max-width: 991px) {
  .site-footer .footer-wrapper .social-media {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .site-footer .footer-wrapper .social-media {
    margin: 0 -5px;
  }
}
.site-footer .footer-wrapper .social-media li {
  padding: 0 10px;
}
@media (max-width: 575px) {
  .site-footer .footer-wrapper .social-media li {
    padding: 0 5px;
  }
}
.site-footer .footer-wrapper .social-media li a {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}
.site-footer .footer-wrapper .social-media li a:hover {
  background-color: #EDBA36;
}
@media (max-width: 374px) {
  .site-footer .footer-wrapper .social-media li a {
    height: 35px;
    width: 35px;
  }
}
@media (max-width: 374px) {
  .site-footer .footer-wrapper .social-media li a img {
    width: 18px;
    max-height: 18px;
  }
}
.site-footer .footer-bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 24px 0;
}
@media (max-width: 479px) {
  .site-footer .footer-bottom-wrapper {
    justify-content: center;
  }
}
.site-footer .footer-bottom-wrapper p {
  color: rgb(255, 255, 255);
}
.site-footer .footer-bottom-wrapper .content-wrap a {
  color: rgb(255, 255, 255);
  transition: all 0.5s;
}
.site-footer .footer-bottom-wrapper .content-wrap a:hover {
  text-decoration: underline;
}

.modal-open {
  overflow: hidden;
}
.modal-open .custom-modal .modal-backdrop {
  opacity: 0.3;
}

.custom-modal {
  display: none;
  opacity: 0;
  transition: opacity 0.15s linear;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.custom-modal.visible {
  display: block;
}
.custom-modal.visible.fadein {
  opacity: 1;
}
.custom-modal.visible.fadein .modal-content-wrapper .modal-dialog {
  transform: translate(0);
}
.custom-modal .modal-backdrop {
  background: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.custom-modal .modal-content-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  right: 0;
  overflow: auto;
  height: 100%;
}
.custom-modal .modal-content-wrapper .modal-dialog {
  max-width: 1140px;
  margin: 0.5rem auto;
  z-index: 1000;
  position: relative;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 1rem);
  padding: 0 30px;
}
.custom-modal .modal-inner-content {
  padding: 40px;
  background: #fff;
  position: relative;
  width: 100%;
}
.custom-modal .modal-inner-content video {
  width: 100%;
}
.custom-modal .modal-inner-content span {
  background: #EDBA36;
  height: 30px;
  display: inline-block;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */