// Global css

body {
    color: $fonts-color;
    font-size: 14px;
    font-family: $primary-fonts;
    font-weight: 400;
    color: $fonts-color;
}

.yellow-btn {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 8px;
    padding: 14px 30px;
    font-weight: 500;
    font-size: 16px;
    color: $white;
    transition: all 0.5s;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
}

.yellow-btn:hover {
    background-color: $secondary-color;
    border: 1px solid $white;
}

.btn:not(:last-child) {
    margin-right: 25px;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 50px;
}

input:focus-visible {
    outline: none;
}

// Select2 css
.select2-container {
    width: 100%;
    min-width: 230px;
    font-size: 16px;
}

.select2-container--default .select2-selection--single {
    height: 22px;
    width: 100%;
    outline: none;
    border-radius: unset;
    border: unset;

}

.select2-container .select2-selection--single .select2-selection__rendered {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 50px 0 30px;
    color: $black;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    background-image: url(../images/arrow-down.svg);
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s;
    height: 100%;
    width: 20px;
    top: 0;
    right: 17px;
}

.select2-container--open .select2-selection__arrow {
    transform: rotate(180deg);
}

.select2-container--open .select2-dropdown--below {
    margin-top: 20px;
}

.select2-container--open .select2-dropdown--above {
    margin-top: -20px;
}

.select2-results__option {
    padding: 10px 14px;
}

.select2-container--default .select2-results>.select2-results__options {
    padding: 8px 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $secondary-color;
    color: $white;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: $placeholder-color;
}

.select2-dropdown {
    border: none;
    border-radius: unset;
}

// Placeholder css
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $placeholder-color;
    font-size: 16px;
    font-family: $primary-fonts;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $placeholder-color;
    font-size: 16px;
    font-family: $primary-fonts;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $placeholder-color;
    font-size: 16px;
    font-family: $primary-fonts;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $placeholder-color;
    font-size: 16px;
    font-family: $primary-fonts;
}

// Datepicker css
.ui-datepicker-prev span {
    background-image: url(../images/prev.png) !important;
    background-position: 0px 0px !important;
    background-size: cover;
}

.ui-datepicker-next span {
    background-image: url(../images/next.png) !important;
    background-position: 0px 0px !important;
    background-size: cover;
}

.ui-widget.ui-widget-content {
    font-family: $primary-fonts;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid $border-color;
    background-color: $white;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    border: 1px solid $border-color;
    color: $black;
    font-weight: 400;
    font-size: 16px;
}

.ui-datepicker th {
    font-size: 16px;
    font-weight: 400;
    color: $black;
}

.ui-datepicker .ui-datepicker-title {
    font-size: 16px;
    color: $white;
}

.ui-state-default {
    border: 1px solid $border-color;
    background: $white !important;
    font-weight: 400 !important;
    color: $black !important;
}

.ui-state-default:hover {
    background-color: $secondary-color !important;
    color: $white !important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid $border-color;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
    border: 1px solid $secondary-color;
}

.ui-datepicker .ui-datepicker-header {
    background: $secondary-color;
}

.banner-form .form-outer-wrap .form-inner-wrap .form-control:focus-visible {
    border-bottom: 1px solid $secondary-color;
}

.site-header {
    padding: 30px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;

    .header-wrapper {
        display: flex;
        justify-content: space-between;

        .nav-listing {
            display: flex;

            li {
                a:not(.btn) {
                    padding: 14px 25px;
                    color: $white;
                    font-size: 16px;
                    display: inline-block;
                    text-transform: uppercase;
                }
            }
        }
    }

}


.banner-section {
    position: relative;
    padding: 110px 0 50px;
    min-height: 660px;

    .banner-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        .banner-content {
            max-width: 780px;

            h1 {
                span {
                    display: block;
                }
            }

            .content-wrapper {
                display: flex;
                background-color: $white;
                border-radius: 8px;
                align-items: center;
                padding: 0 18px;
                min-height: 56px;
                margin-bottom: 20px;

                .dropdown-wrapper {
                    flex: 0 0 33.33%;
                    max-width: 33.33%;
                    position: relative;
                    padding: 0 8px;

                    .dropdown-wrapper {
                        padding: 0;
                    }
                }

                .dropdown-wrapper:not(:last-child) {
                    border-right: 2px solid $border-color;
                }

                label {
                    position: absolute;
                    top: 1px;
                    z-index: 2;
                }

                .inner-wrapper {
                    flex: 0 0 50%;
                    max-width: 50%;
                    padding: 0 8px;
                    position: relative;

                    input {
                        width: 100%;
                        height: 22px;
                        border: none;
                        padding: 0 30px;
                        font-size: 16px;
                        font-family: $primary-fonts;
                        color: $black;
                    }
                }

                .inner-wrapper:not(:last-child) {
                    border-right: 2px solid $border-color;
                    border-radius: 2px;
                }

            }
        }

        button {
            font-family: $primary-fonts;
        }
    }

}

.easy-steps-section {
    padding: 80px 0;

    .easy-step-wrapper {
        display: flex;
        margin: 0 -20px;

        .inner-wrapper {
            flex: 0 0 25%;
            max-width: 25%;
            padding: 0 20px;
            text-align: center;

            .image-block {
                margin-bottom: 39px;
            }

            p {
                font-size: 16px;

            }

            span {
                display: block;
            }
        }
    }
}

.meet-our-doctors-section {
    padding: 80px 0;
    background-color: $bg-color;

    .heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 38px;

        h2 {
            margin: 0;
        }

        .yellow-btn {
            font-weight: 400;
        }

    }

    .doctors-content {
        display: flex;
        margin: 0 -30px;
        flex-wrap: wrap;

        .doctors-outer-content {
            padding: 0 30px;
            flex: 0 0 25%;
            max-width: 25%;
            height: 100%;

            .doctors-inner-content {
                background-color: $white;
                padding: 30px 30px 10px 30px;
                border: 1px solid $border-color-1;
                border-radius: 8px;
                position: relative;
                height: 100%;
                // box-shadow: $box-shadow;
          
                .image-block {
                    position: relative;
                    margin-bottom: 15px;
                    padding-bottom: 68%;
                    border-radius: 5px;
                    max-width: 120px;
                    overflow: hidden;

                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                    }
                }

                span {
                    color: $secondary-color;
                    font-size: 16px;
                    margin-bottom: 10px;
                    display: inline-block;
                }

                p {
                    font-size: 14px;
                }

                em {
                    position: absolute;
                    top: 25px;
                    right: 0;
                    background-color: $success-color;
                    padding: 6px 8px;
                    border-radius: 3px 0 0 3px;
                    font-style: normal;

                    img {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 6px;
                    }
                    span {
                        margin: 0;
                        color: $white;
                        font-size: 14px;
                        vertical-align: middle;
                    }
                }
          
               
            }
           
        }
    }
}

.top-searched-specialties-section{
    padding: 80px 0;

    .specialties-wrapper{
        display: flex;
        margin: 0 -15px;

        .specialties-outer-wrapper{
            flex: 0 0 16.66%;
            max-width: 16.66%;
            padding: 0 15px;

            .specialties-inner-wrapper{
                border: 1px solid $border-color-2;
                padding: 20px 13px;
                text-align: center;
                height: 100%;

                .image-block{
                    margin-bottom: 20px;
                }
                span{
                    color: $heading-color;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
}

.change-your-life-section{
   .change-your-life-wrapper{
    background: url(../images/background-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border-radius: 8px;


    .heading{
        display: flex;
        justify-content: space-between;
        padding: 80px 0;
        max-width: 980px;
        margin: 0 auto;

        h2{
            margin: 0;
            font-size: 48px;
            color: $white;
            text-transform: capitalize;

            span{
                display: block;
            }
        }
        .yellow-btn{
            padding: 17px 40px;
            max-height: 56px;
        }
        span{
            margin-right: 6px;
        }
    }
}
}

.video-content-section{
    padding: 80px 0;

    .heading{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        h2{
            margin: 0;
        }
    }
}