
$black: #000000;
$white: #ffffff;
$primary-color: #EDBA36;
$secondary-color: #9327FF;
$fonts-color:#827C8A;
$heading-color: #28252C;
$border-color:rgba(130, 124, 138, 0.25);
$border-color-1:rgba(40, 37, 44, 0.08);
$border-color-2:rgba(238, 238, 238, 1);
$placeholder-color:#A7A1B0;
$bg-color:#FFF5FB;
$success-color:#00D193;
$box-shadow: 0 10px 24px 0px rgba(255, 0, 138, 0.12);
$transition: all 0.5s ;


